[Desktop Entry]
Name=RMF Site Editor
Comment=Visual editor for robot fleet management sites
Exec=rmf_site_editor %F
Icon=rmf-site-editor
Terminal=false
Type=Application
Categories=Development;Engineering;Science;
MimeType=application/json;
Keywords=robotics;rmf;fleet;site;editor;gazebo;
